{:company/legal-name "The Travelers Companies, Inc."
 :company/lei "549300Y650407RU8B149"
 :company/jurisdiction "US-MN"
 :company/website "https://www.travelers.com"
 :company/ticker "TRV (NYSE)"
 :company/inquiry-form-url "https://www.travelers.com/contact-us"}
